* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Genos', sans-serif;
	background-color: rgb(7, 1, 12);
	color: #cacaca;
	text-transform: uppercase;
	/* touch-action: none;
	overscroll-behavior: none; */
}
/* html jesli scroll ma byc nieaktywny */

.stars {
	position: fixed;
	background-color: #fff;
	border-radius: 50%;
	opacity: 0.8;

	animation: fall 5s linear infinite;
	z-index: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;

	text-align: center;
	height: 100vh;

	justify-content: center;

	background-position: center;
	z-index: 1000;
}

h1 {
	font-size: 36px;
	padding: 20px;
}
.pad-container {
	display: grid;
	grid-template-columns: repeat(4, 60px);
	gap: 8px;
	justify-content: center;
	margin: 20px auto;
	z-index: 0;
}

.pad-container button {
	width: 60px;
	height: 60px;
	padding: 20px;
	border: none;
	font-size: 1.2rem;
	border-radius: 8px;
	background-color: rgba(18, 18, 18);
	cursor: pointer;
	transition: background-color 0.3s;
}
.pad-container button:hover {
	background-color: rgb(26, 26, 26);
}

.dark-blue {
	box-shadow: 0 0 5px #2b52ff;
}

.pad-container button.dark-blue:active {
	box-shadow: 0 0 20px #2b52ff;
	background-color: #1237db;
}
.normal-blue {
	box-shadow: 0 0 5px #5070fd;
}

.pad-container button.normal-blue:active {
	box-shadow: 0 0 20px #5070fd;
	background-color: #2f55ff;
}
.light-blue {
	box-shadow: 0 0 5px #738dff;
}

.pad-container button.light-blue:active {
	box-shadow: 0 0 20px #8da1ff;
	background-color: #627fff;
}
.super-light-blue {
	box-shadow: 0 0 5px #bcc8ff;
}

.pad-container button.super-light-blue:active {
	box-shadow: 0 0 20px #c5d0ff;
	background-color: #8da2ff;
}
.dark-violet {
	box-shadow: 0 0 5px #863bff;
}

.pad-container button.dark-violet:active {
	box-shadow: 0 0 20px #904bff;
	background-color: #6d13ff;
}
.normal-violet {
	box-shadow: 0 0 5px #b07fff;
}

.pad-container button.normal-violet:active {
	box-shadow: 0 0 20px #9f63ff;
	background-color: #873cff;
}
.light-violet {
	box-shadow: 0 0 5px #ccacff;
}

.pad-container button.light-violet:active {
	box-shadow: 0 0 20px #ccacff;
	background-color: #af7dff;
}
.super-light-violet {
	box-shadow: 0 0 5px #decaff;
}

.pad-container button.super-light-violet:active {
	box-shadow: 0 0 20px #c5d0ff;
	background-color: #c5a0ff;
}
.dark-pink {
	box-shadow: 0 0 5px #f70eff;
}

.pad-container button.dark-pink:active {
	box-shadow: 0 0 20px #f70eff;
	background-color: #f700ff;
}
.normal-pink {
	box-shadow: 0 0 5px #fa61ff;
}

.pad-container button.normal-pink:active {
	box-shadow: 0 0 20px #fa61ff;
	background-color: #f83aff;
}
.light-pink {
	box-shadow: 0 0 5px #fb92ff;
}

.pad-container button.light-pink:active {
	box-shadow: 0 0 20px #fb92ff;
	background-color: #fb7cff;
}
.super-light-pink {
	box-shadow: 0 0 5px #fdbcff;
}

.pad-container button.super-light-pink:active {
	box-shadow: 0 0 20px #fdbcff;
	background-color: #fca9ff;
}

.dark-turquise {
	box-shadow: 0 0 5px #00ffe5;
}

.pad-container button.dark-turquise:active {
	box-shadow: 0 0 20px #00ffe5;
	background-color: #00ffe5;
}
.normal-turquise {
	box-shadow: 0 0 5px #74fff1;
}

.pad-container button.normal-turquise:active {
	box-shadow: 0 0 20px #74fff1;
	background-color: #75fff1;
}
.light-turquise {
	box-shadow: 0 0 5px #9ffff5;
}

.pad-container button.light-turquise:active {
	box-shadow: 0 0 20px #9ffff5;
	background-color: #98fff5;
}
.super-light-turquise {
	box-shadow: 0 0 5px #c9fffa;
}

.pad-container button.super-light-turquise:active {
	box-shadow: 0 0 20px #c9fffa;
	background-color: #c9fffa;
}

#pad1.playing {
	background-color: #1237db;
	box-shadow: 0 0 20px #2b52ff;
}
#pad2.playing {
	box-shadow: 0 0 20px #5070fd;
	background-color: #2f55ff;
}
#pad3.playing {
	box-shadow: 0 0 20px #8da1ff;
	background-color: #627fff;
}
#pad4.playing {
	box-shadow: 0 0 20px #c5d0ff;
	background-color: #8da2ff;
}
#pad5.playing {
	box-shadow: 0 0 20px #904bff;
	background-color: #6d13ff;
}
#pad6.playing {
	box-shadow: 0 0 20px #9f63ff;
	background-color: #873cff;
}
#pad7.playing {
	box-shadow: 0 0 20px #ccacff;
	background-color: #af7dff;
}
#pad8.playing {
	box-shadow: 0 0 20px #c5d0ff;
	background-color: #c5a0ff;
}
#pad9.playing {
	box-shadow: 0 0 20px #f70eff;
	background-color: #f700ff;
}
#pad10.playing {
	box-shadow: 0 0 20px #fa61ff;
	background-color: #f83aff;
}
#pad11.playing {
	box-shadow: 0 0 20px #fb92ff;
	background-color: #fb7cff;
}
#pad12.playing {
	box-shadow: 0 0 20px #fdbcff;
	background-color: #fca9ff;
}
#pad13.playing {
	box-shadow: 0 0 20px #00ffe5;
	background-color: #00ffe5;
}
#pad14.playing {
	box-shadow: 0 0 20px #74fff1;
	background-color: #75fff1;
}
#pad15.playing {
	box-shadow: 0 0 20px #9ffff5;
	background-color: #98fff5;
}
#pad16.playing {
	box-shadow: 0 0 20px #c9fffa;
	background-color: #c9fffa;
}

.controls {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.controls button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: rgba(18, 18, 18);
	border: none;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	scale: 1;
	transition: background-color 0.3s;
	transition: scale 0.3s;
}

.controls button:hover {
	background-color: rgb(62, 62, 62);
	scale: 1.1;
}

.record-btn {
	margin-bottom: 30px;
}

.recordings-area {
	width: 252px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	gap: 10px;
}

.recording {
	padding: 3px 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	width: 100%;
	border-radius: 8px;
	font-size: 14px;
	box-shadow: 0 0 5px #513480;
	z-index: 1000;
}

.play-btn,
.pause-btn {
	font-size: 14px;
	padding: 4px 6px;

	border: none;
	background: none;
	color: #876885;

	cursor: pointer;
	transition: color 0.3s;
}

.play-btn:hover,
.pause-btn:hover {
	color: #6b285b;
}

.pause-btn {
	display: none;
}

.progress-bar {
	-webkit-appearance: none; /* Usuwa domyślny wygląd w przeglądarkach WebKit (np. Chrome, Safari) */
	appearance: none; /* Usuwa domyślny wygląd we wszystkich przeglądarkach */
	width: 100%;
	max-width: 350px;
	height: 4px;
	border-radius: 5px;
	background: #483847;
}

/*Firefox */
.progress-bar::-moz-range-thumb {
	width: 12px;
	height: 12px;
	border: none;
	background: #876885;
	border-radius: 50%;
	cursor: pointer;
}
/* Chrome, Safari, Edge */
.progress-bar::-webkit-slider-thumb {
	width: 12px;
	height: 12px;
	border: none;
	background: #876885;
	border-radius: 50%;
	cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
	background: #6b285b;
	box-shadow: 0 0 5px #ff33cf;
}

.progress-bar::-moz-range-progress {
	background: #6b285b;
	box-shadow: 0 0 5px #ff33cf;
}

.remove-btn {
	font-size: 14px;
	padding: 5px 10px;

	background: none;
	border: none;
	color: #876885;

	cursor: pointer;
	transition: color 0.3s;
}

.remove-btn:hover {
	color: #6b285b;
}

.controls-area p {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;

	letter-spacing: 1px;
	color: #09ff3a;
	min-height: 1.5em; /* w tym wypadku 24px, bo fz 16px - rezerwuje miejsce dla elementu, żeby nie przeskakiwało jak się pojawia*/
	text-align: center;
}

.buttons-container {
	margin-bottom: 30px;
}

footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 16px;
	color: #8e8e8e;
	opacity: 0.5;
}

.star1 {
	width: 2px;
	height: 2px;
	left: 10%;
	animation-duration: 4s;
	animation-delay: 0s;
	z-index: 0;
}

.star2 {
	width: 3px;
	height: 3px;
	left: 30%;
	animation-duration: 6s;
	animation-delay: 1s;
}

.star3 {
	width: 1px;
	height: 1px;
	left: 50%;
	animation-duration: 5s;
	animation-delay: 2s;
}

.star4 {
	width: 2px;
	height: 2px;
	left: 70%;
	animation-duration: 7s;
	animation-delay: 3s;
}

.star5 {
	width: 1px;
	height: 1px;
	left: 90%;
	animation-duration: 5s;
	animation-delay: 4s;
}

.nasa-info {
	display: none;

	font-weight: 300;
	position: absolute;
	top: 5px;
	left: 5px;
	margin-bottom: 20px;
	writing-mode: sideways-lr;
	bottom: 10px;
	right: 10px;
	font-size: 14px;
	color: #8e8e8e;
	opacity: 0.5;
}

@keyframes fall {
	0% {
		transform: translateX(100vw) translateY(0);
	}
	100% {
		transform: translateX(-100vw) translateY(100vh);
	}
}

@media (max-width: 1024px) {
	h1 {
		font-size: 42px;
	}
}
@media (max-width: 768px) {
	footer {
		text-align: center;
		font-size: 14px;
		right: 5px;
		left: 5px;
	}
}

@media (max-width: 480px) {
	.controls-area p {
		font-size: 14px;
	}

	footer {
		bottom: 20px;

		font-size: 12px;
	}
}
@media (max-width: 428px) {
	.wrapper {
		justify-content: flex-start;
	}

	footer {
		display: none;
	}
	.nasa-info {
		display: flex;
	}
}

@media (max-width: 380px) {
	h1 {
		padding: 10px;
		font-size: 32px;
	}

	.controls {
		margin-top: 10px;
	}

	.controls-area p {
		font-size: 12px;
	}

	.recording {
		padding: 2px 4px;
	}
	.recordings-area {
		margin: 10px auto;
	}
}

@media (max-width: 360px) {
	.wrapper {
		justify-content: center;
	}
	.record-btn {
		display: none;
	}

	.recording {
		display: none;
	}
	.controls-area p {
		display: none;
	}
}
